
.main-header {
    height: 3.75rem;
}

.main-section {
    height: calc(100vh - 3.75rem);
    
}

aside li, a {
    text-decoration: none;
    list-style: none;
}

img {
    width: 100%;
}

.avatar {
    width: 1.875rem;
}

aside {
    background-size: contain ;
}